<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link id="theme" rel="stylesheet" type="text/css" href="/css/home-darkTheme.css" />
  <link id="theme2" rel="stylesheet" type="text/css" href="/css/home-lightTheme.css" disabled />
  <title>101Mailz - Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"         rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="icon" href="./images/favicon.png">
  <script src="./jQuery.js"></script>
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.rings.min.js"></script>
<script id="vantaScript">
  if (sessionStorage.getItem("vanta") == 'enabled') {
   VANTA.RINGS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: 0x161616,
      color: 0xffffff,
      backgroundAlpha: 0.00
    })

  }
</script>
<div class="dashboard" style="z-index: -2">
  <div class="left" id="left">
    <div class="sidebar">
      <div class="wrapper">
        <!--div class="menu">

        </div>
        <div class="items">
          <img src="https://i.ibb.co/L8D5T60/light.png" />
          <img src="https://i.ibb.co/zmDbMVZ/diamond.png" />
          <img src="https://i.ibb.co/W5QZ9Fk/envelope.png" />
          <img src="https://i.ibb.co/CnKDBxC/flask.png" />
          <img src="https://i.ibb.co/MGs4Fyn/sent-mail.png" />
          <img src="https://i.ibb.co/zGtDpcp/map.png" />
        </div>-->
        <div class="profile">
        </div>
      </div>
      <script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|vertical|,|sensitivity|:0.02,|colorStart|:[234,226,183,1],|colorEnd|:[252,191,73,1]},|particle|:{|life|:5,|power|:0.039,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/trace_01.png|,|number|:216,|colorStart|:[116,129,92,0.13],|colorEnd|:[208,207,199,0.52],|sizeStart|:1.54,|sizeEnd|:3.08,|direction1|:{|x|:0,|y|:100,|z|:0},|direction2|:{|x|:0,|y|:0,|z|:0}},|waterMark|:false}" ></script>
    </div>
    <div class="navigation">
      <div class="wrapper2">
        <div>
          <a class="brand-name" onclick="window.location.reload();">101<br><span>MAILZ</span></a>
        </div>
        <div class="button" onclick="composeMail()" style="left: 0;">
          <span class="button__mask"></span>
          <span class="button__text">Compose email</span>
          <span class="button__text button__text--bis">Compose email</span>
        </div>
        <div class="folders">Folders</div>
        <div class="folder-icons">
          <div class="icon1">
            <img src="https://i.ibb.co/qdgf3TJ/envelope.png" id="icon1" alt="envelope"/>
          </div>
          <div id="icon-name1" class="icon-name1" onclick="loadInbox()">Inbox
            <button class="buton-span" id="amount-in-inbox" style="opacity: 0;">
            </button></div>
        </div>
        <div class="folder-icons" onclick="loadSend()">
          <div class="icon1">
            <img src="https://i.ibb.co/2yLfX9W/sent-mail.png" alt="sent-mail" />
          </div>
          <div class="icon-name" id="icon-name2">Send mailz</div>
        </div>
        <div class="folder-icons" onclick="loadDeleted()">
          <div class="icon1">
            <img src="https://i.ibb.co/Lv6TqBG/waste-bin.png" id="icon2" alt="waste-bin" />
          </div>
          <div class="icon-name" id="icon-name">Deleted mailz</div>
        </div> 
        <div class="folders">Other</div>   
        <div class="folder-icons" onclick="loadOnlineUsers()">
          <div class="icon1">
            <img src="https://cdn-icons-png.flaticon.com/512/1307/1307714.png" id="icon3" alt="icon"/>
          </div>
          <div class="icon-name1" id="icon-name3" style="color: gray;">Online users</div>
        </div>
          <div class="folder-icons" onclick="loadAccountSettings()">
          <div class="icon1">
            <img src="https://cdn-icons-png.flaticon.com/512/807/807262.png" id="icon4" alt="icon" />
          </div>
          <div class="icon-name1" id="icon-name4" style="color: gray;">Settings</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-header">
      <div class="top-bar" style="position: relative; z-index: 5">
        <div class="top-bar-justify">
          <div class="big-inbox standard-text" id="top-text">
            Inbox
          </div>
          <div class="top-bar-items">
            <div class="notif" style="opacity: 0;">
              <div class="online pink">
              </div>
              <img src="https://i.ibb.co/VJm73Hz/notifications-button.png" alt="noti" />
            </div>
            <img src="https://i.ibb.co/vz4HYJb/envelope.png" alt="envelope"  style="opacity: 0;" />
            <img src="https://i.ibb.co/52Vkq4M/earth-globe.png" alt="earth"  style="opacity: 0;" />
            <div><a class="standard-text" href="/logout">Logout</a></div>
          </div>
        </div>
      </div>
      <hr class="new-hr">
      <div class="right-bottom">
        <div class="check">
          <div class="button" onclick="window.location.reload()">
            <span class="button__mask"></span>
            <span class="button__text">Reload Inbox</span>
            <span class="button__text button__text--bis">Reload Inbox</span>
          </div>
        </div>
        <div>
          <p class="very-nice-text" id="mailzSyntax"><%= locals.mailzSyntax %></p>
        </div>

        <div class="search-arrow">
          <img src="https://i.ibb.co/cx2t05H/scroll-arrows.png" alt="arrow"  />
        </div>
      </div>
    </div>
    <div class="right-body" id="right">
      <div class="scroll-cards scrollbar" id="scroll-cards">
      </div>
      <div class="scroll-cards scrollbar" id="scroll-cards-deleted" style="display: none">
      </div>
      <div class="scroll-cards scrollbar" id="scroll-cards-send" style="display: none">
      </div>
      <div class="message" id="message">
        <div class="mes-date" id="message-date">
        </div>
        <div class="title" id="message-title">
          <div class="title-icons">
          </div>
        </div>
        <div class="from" id="message-from">
        </div>
        <div class="message-from">
          <p id="message-mail"></p>
        </div>
        <button class="reply-button" id="reply-button" onclick="reply()"> Reply
        </button>
        <form action="sendMail" id="reply-mail-form" method="post" style="display: none">
          <input id="email-send-address-reply" type="text" name="receiver" class="default-input rounded" placeholder="Email address" style="display: none"/>
          <input id='email-send-subject-reply' type="text" name="subject" class="default-input rounded" placeholder="Subject" style="display: none"/>
          <textarea id='email-send-text-reply' placeholder="Write your reply here" name="message" class="default-input rounded" style="display: none"></textarea>
          <textarea id='email-send-text-reply-temp' placeholder="Write your reply here" name="tempmessage" class="default-input rounded" style="position: relative; top: 17px"></textarea>
          <input class="reply-button" type="submit" value="Send email" style="position: relative; top: 17px" onclick="commitReply()">
        </form>

        <button class="forward-button" id="forward-button" onclick="forward()" style="opacity: 0"> Forward
        </button>
      </div>
      <div class="message" id="sendMail" style="display: none">
          <form action="sendMail" method="post">
            <input id="email-send-address" type="text" name="receiver" class="default-input rounded" placeholder="Email Address" required style="margin: 0;"/>
            <p>Add a comma between mail addresses to send the mail to multiple people</p>
            <input id='email-send-subject' type="text" name="subject" class="default-input rounded" placeholder="Subject" required/>
            <textarea id='email-send-text' placeholder="Message" name="message" class="default-input rounded" required></textarea>
            <input class="reply-button" type="submit" value="Send email">
          </form>
      </div>
      <div class="message" id="onlineUsers" style="display: none">
        <h1 class="title">Online users:</h1>
      </div>
      <div class="message" id="accountSettings" style="display: none">
            <div class="tab">
              <button class="tablinks standard-text" onclick="openCity(event, 'Change username')" id="defaultOpen">Change username</button>
              <button class="tablinks standard-text" onclick="openCity(event, 'Change email')">Change email</button>
              <button class="tablinks standard-text" onclick="openCity(event, 'Change password')">Change password</button>
              <button class="tablinks standard-text" onclick="openCity(event, 'Delete account')">Delete account</button>
            </div>
            
            <div id="Change username" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <b class="title" style="font-size: 1.6rem">Change username</b>
                  <form action="changeUsernameForm" method="POST">                                    
                    <input type="text" name="oldUsername"placeholder="Old username" required> 
                    <input type="text" name="newUsername"placeholder="New username" required>
                    <input type="text" name="email"placeholder="Email" required>
                    <input type="password" name="password"placeholder="Password" required>
                    <input class="button" style="margin-top: 5px; left: 0; background-color: transparent;" type="submit" value="Change">
                  </form>
            </div>
            
            <div id="Change email" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <b class="title" style="font-size: 1.6rem">Change email address</b>
                <form action="changeEmailForm" method="POST">     
                  <input type="text" name="username"placeholder="Username" required>
                  <input type="text" name="oldEmail"placeholder="Old email" required> 
                  <input type="text" name="newEmail"placeholder="New email" required>
                  <input type="password" name="password"placeholder="Password" required>
                  <input type="submit" value="Change" class="button" style="margin-top: 5px; left: 0; background-color: transparent;">
                </form> 
            </div>
            
            <div id="Change password" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <b class="title" style="font-size: 1.6rem">Change password</b>
                <form action="changePasswordForm" method="POST">
                  <input type="text" name="username"placeholder="Username" required>
                  <input type="text" name="email"placeholder="Email" required>
                  <input type="password" name="oldPassword"placeholder="Old password" required> 
                  <input type="password" name="newPassword"placeholder="New password" required>
                  <input type="submit" value="Change" class="button" style="margin-top: 5px; left: 0; background-color: transparent;">
                </form>
            </div>

            <div id="Delete account" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <b class="title" style="font-size: 1.6rem">Delete account</b>
                  <form action="deleteAccount" method="POST">                                    
                    <input class="button" style="margin-top: 5px; left: 0; background-color: transparent;" type="submit" value="DELETE">
                  </form>
            </div>

            <div class="standard-text">
              <%= locals.error %>
            </div>

            <div style="position: absolute; bottom: 0;">
              <h1 class="title" style="font-size: 1.6rem">Light theme:</h1>
              <div class="switch">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" onclick="toggleTheme()" />
                    <div class="slider round"></div>
                </label>
                </div>
                </div>
            <div style="position: absolute; bottom: 100px;">
              <h1 class="title" style="font-size: 1.6rem">Toggle background:</h1>
                <div class="switch">
                  <label class="theme-switch" for="checkbox2">
                    <input type="checkbox2" id="checkbox2" onclick="disableBackground()" />
                    <div class="slider round"></div>
                  </label>
                </div>
              </div>

        </div>
    </div>
        
      </div>
    </div>
  </div>
  <div style="display: none" id="mailz">
    <%= locals.mailz %>
  </div>
  <div style="display: none" id="sendMailz">
    <%= locals.sendMailz %>
  </div>
  <div style="display: none" id="blockedEmails">
    <%= locals.newBlocked %>
  </div>
   <div style="display: none" id="onlineUsersList">
    <%= locals.onlineUsers %>
  </div>
  <div style="display: none" id="onlineUsersList2">
    <%= locals.newStuff %>
  </div>
</div>
<style>
  /* ja eng dat dit hier staat ik weet 't, ma ja wilde gwn da van lotte kopieren */
  .tab {
  overflow: hidden;
  box-shadow : 0 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter : blur(7.4px);
  border : #121212 solid 3px;
  border-top-left-radius : 25px;
  border-top-right-radius : 25px;
  background-color: transparent;
  margin-top: 25px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(150,150,150,0.5)
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(50,50,50,0.5)
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border : #121212 solid 3px;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
  transition: all .32s linear;
}

.topright:hover {color: red;}
</style>
  <script id="megaScript">
  
    let mailz = $("#mailz").html();
    mailz = JSON.parse(mailz);

    let sendMailz = $("#sendMailz").html();
    sendMailz = JSON.parse(sendMailz);

    let listOfOnlineUsers = $("#onlineUsersList").html();
    listOfOnlineUsers = JSON.parse(listOfOnlineUsers);


    const currentTheme = sessionStorage.getItem("theme");

    if (currentTheme == "enabled") {
           toggleTheme();
           $('#checkbox').prop('checked', true);
    } else {
      $('#checkbox').prop('checked', false);
    }


  function disableBackground() {
  if (sessionStorage.getItem("vanta") == "enabled") {
    $('#checkbox2').prop('checked', true);
  } else {
    $('#checkbox2').prop('checked', false);
  }
}
    
    

    $(document).ready( function() {
      var toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
          
    })

    

      var reloading = sessionStorage.getItem("reloading");
      if (reloading) {
          sessionStorage.removeItem("reloading");
          loadOnlineUsers();
      }
  

  if (currentTheme == "enabled") {
     document.getElementById('icon-name1').style.color ="black";
      console.log('white')
    } else {
     document.getElementById('icon-name1').style.color ="white";
      console.log('blaCK')
    }

    function composeMail() {
      $("#message").css("display", "none");
      $("#sendMail").css("display", "block");
      $("#onlineUsers").css("display", "none");
      $("#accountSettings").css("display", "none");
      $("#reply-mail-form").css("display", "none");
    }
    function loadDeleted() {
      $("#scroll-cards").css("display", "none");
      $("#scroll-cards-send").css("display", "none");
      $("#scroll-cards-deleted").css("display", "block");
      $("#message").css("display", "block");
      $("#sendMail").css("display", "none");
      $("#onlineUsers").css("display", "none");
      $("#accountSettings").css("display", "none");
      if (currentTheme == "enabled") {
        $("#icon-name").css("color", "black");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");   
        $("#icon-name4").css("color", "gray");  
      } else {
        $("#icon-name").css("color", "#e3e3e3e3");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");
        $("#icon-name4").css("color", "gray");
      }
      $("#top-text").html("Deleted mailz");
      $("#reply-mail-form").css("display", "none");
    }
    function loadInbox() {
      $("#scroll-cards").css("display", "block");
      $("#scroll-cards-send").css("display", "none");
      $("#scroll-cards-deleted").css("display", "none");
      $("#message").css("display", "block");
      $("#sendMail").css("display", "none");
      $("#onlineUsers").css("display", "none");
      $("#accountSettings").css("display", "none");
      $("#reply-mail-form").css("display", "none");
      if (currentTheme == "enabled") {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "black");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");  
        $("#icon-name4").css("color", "gray");     
      } else {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "#e3e3e3e3");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");
        $("#icon-name4").css("color", "gray");    
      }
      $("#top-text").html("Inbox");

      checkIfInboxIsEmpty();
    }
    function loadSend() {
      $("#scroll-cards").css("display", "none");
      $("#scroll-cards-send").css("display", "block");
      $("#scroll-cards-deleted").css("display", "none");
      $("#message").css("display", "block");
      $("#sendMail").css("display", "none");
      $("#onlineUsers").css("display", "none");
      $("#accountSettings").css("display", "none");
      if (currentTheme == "enabled") {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "black");
        $("#icon-name3").css("color", "gray");     
        $("#icon-name4").css("color", "gray");    
      } else {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "#e3e3e3e3");
        $("#icon-name3").css("color", "gray");
        $("#icon-name4").css("color", "gray");    
      }
      $("#top-text").html("Send mailz");
      $("#reply-mail-form").css("display", "none");
    }
     function loadOnlineUsers() {
      $("#scroll-cards").css("display", "none");
      $("#scroll-cards-send").css("display", "none");
      $("#scroll-cards-deleted").css("display", "none");
      $("#message").css("display", "none");
      $("#sendMail").css("display", "none");
      $("#onlineUsers").css("display", "block");
      $("#onlineUsers").html("");
      $("#accountSettings").css("display", "none");
      if (currentTheme == "enabled") {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "black"); 
        $("#icon-name4").css("color", "gray");        
      } else {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "#e3e3e3e3");
        $("#icon-name4").css("color", "gray");    
      }
      $("#top-text").html("Online users");
      $("#reply-mail-form").css("display", "none");

      $('#onlineUsers').append('<h1 class="title">Online users:</h1>');
  
      $('#onlineUsers').append('<button class="reply-button" onclick="onlineuserss()" id="reload-online-users">Reload online users</button>');
      $('#reload-online-users').css("float", "right");
      $('#reload-online-users').css("position", "relative");
      $('#reload-online-users').css("top", "-34px");

      for (let i = 0; i < listOfOnlineUsers.length; i++) {
        $('#onlineUsers').append('<div><p class="message-from">' + listOfOnlineUsers[i].username + '<p></div>');
      }
      
    }

    function loadAccountSettings() {
      $("#scroll-cards").css("display", "none");
      $("#scroll-cards-send").css("display", "none");
      $("#scroll-cards-deleted").css("display", "none");
      $("#message").css("display", "none");
      $("#sendMail").css("display", "none");
      $("#onlineUsers").css("display", "none");
      $("#accountSettings").css("display", "block");
      if (currentTheme == "enabled") {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");   
        $("#icon-name4").css("color", "black");  
        $(".tab").css("border", "#000 solid 3px")
        $(".tabcontent").css("border", "#000 solid 3px")   
        $(".tabcontent").css("border-top", "none") 
      } else {
        $("#icon-name").css("color", "gray");
        $("#icon-name1").css("color", "gray");
        $("#icon-name2").css("color", "gray");
        $("#icon-name3").css("color", "gray");
        $("#icon-name4").css("color", "#e3e3e3e3");   
        $(".tab").css("border", "#fff solid 3px")
        $(".tabcontent").css("border", "#fff solid 3px") 
        $(".tabcontent").css("border-top", "none")
      }
      $("#top-text").html("Account settings");
      $("#reply-mail-form").css("display", "none");
    }

     function reply() {
      if (document.getElementById('reply-mail-form').style.display == "none") {
        $("#reply-mail-form").css("display", "block");
      } else {
        $("#reply-mail-form").css("display", "none");
      }
    }
    function forward() {
      let forwardMail = document.getElementById('message-from').innerHTML;
      let forwardText = document.getElementById('message-mail').innerHTML;
      let forwardSubject = document.getElementById('message-title').innerHTML;
      composeMail();
      document.getElementById('email-send-subject').value = forwardSubject;
      document.getElementById('email-send-text').innerHTML = (forwardText + ' -|- The email above has been forwarded, original sender: ' + forwardMail + '  -|-');
    }

    if (document.getElementById('mailzSyntax').innerHTML.length > 5) {
        var counter = setInterval(function(){
        document.getElementById('mailzSyntax').innerHTML = '';
        clearInterval(counter);
      }, 3000);
    }

    async function deleteMail(emailID) {
      const data = {
        id: emailID
      };
      const response = await fetch("/api/loadDeleted", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }); 
      reloadPage();
      const result = await response.json();
    }

    async function unDeleteMail(emailID) {
      const data = {
        id: emailID
      };
      
      const response = await fetch("/api/unLoadDeleted", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }); 
      reloadPage();
      const result = await response.json();
    }
    async function reportSpam(emailSender) {
      const data = {
        email: emailSender
      }
      const response = await fetch("/api/reportSpam", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }); 

      reloadPage();
    }

    async function onlineuserss() {
      sessionStorage.setItem("reloading", "true");
      document.location.reload();

    }


    function reloadPage() {
      location.reload();
    }

    function commitReply() {
      document.getElementById("email-send-text-reply").innerHTML = (document.getElementById("email-send-text-reply-temp").value + ' | The email above was an reply to the email below | ' + document.getElementById("message-mail").innerHTML );
      document.getElementById("reply-mail-form").style.display = "none";

    }
    function showContentOfItem(i) {
      document.getElementById('message').style.display = "block";
      document.getElementById('sendMail').style.display = "none";
      let emailMessage = mailz[i].bericht;
      let emailSender = mailz[i].afzender;
      let emailSubject = mailz[i].onderwerp;
      let emailTimeSend = new Date(mailz[i].tijd);
      if (document.getElementById('icon-name1').style.color == "white") {
        document.getElementById("reply-button").style.display = "block";
        document.getElementById("forward-button").style.display = "block";
      } else {
        document.getElementById("reply-button").style.display = "none";
        document.getElementById("forward-button").style.display = "none";
      }
      document.getElementById("message-mail").innerHTML = emailMessage;
      document.getElementById("message-from").innerHTML = emailSender;
      document.getElementById("email-send-address-reply").value = emailSender;
      document.getElementById("email-send-subject-reply").value = (emailSubject + ' | Reply');
      document.getElementById("message-title").innerHTML = emailSubject;
      document.getElementById("message-date").innerHTML = ((emailTimeSend.getUTCMonth()) + '/' + (emailTimeSend.getUTCMonth() + 1) + '   ' + (emailTimeSend.getUTCHours() + 4) + ':' + (emailTimeSend.getUTCMinutes()));
    }

    function showContentOfSendItem(i) {
      document.getElementById('message').style.display = "block";
      document.getElementById('sendMail').style.display = "none";
      document.getElementById("reply-button").style.display = "none";
      document.getElementById("forward-button").style.display = "none";
      let emailMessage = sendMailz[i].bericht;
      let emailSender = sendMailz[i].afzender;
      let emailSubject = sendMailz[i].onderwerp;
      let emailTimeSend = new Date(sendMailz[i].tijd);
      let minutes = ''

      if (emailTimeSend.getUTCMinutes() < 10) {
            minutes = ('0' + emailTimeSend.getUTCMinutes())
          } else {
            minutes = (emailTimeSend.getUTCMinutes() + '')
          }

      document.getElementById("message-mail").innerHTML = emailMessage;
      document.getElementById("message-from").innerHTML = emailSender;
      document.getElementById("message-title").innerHTML = emailSubject;
      document.getElementById("message-date").innerHTML = (emailTimeSend.getUTCDay() + '/' + emailTimeSend.getUTCMonth() + '   ' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes));
    }

    if (mailz.length > 0) {

      let mailzLength = (mailz.length - 1);
      let emailMessage = mailz[mailzLength].bericht;
      let emailSender = mailz[mailzLength].afzender;
      let emailSubject = mailz[mailzLength].onderwerp;
      let emailTimeSend = new Date(mailz[mailzLength].tijd);

      document.getElementById("message-mail").innerHTML = emailMessage;
      document.getElementById("message-from").innerHTML = emailSender;
      document.getElementById("message-title").innerHTML = emailSubject;
      document.getElementById("message-date").innerHTML = (emailTimeSend.getUTCDay() + '/' + emailTimeSend.getUTCMonth() + '   ' + (emailTimeSend.getUTCHours() + 4) + ':' + (emailTimeSend.getUTCMinutes()));

    }

    function checkIfInboxIsEmpty() {
      if (document.getElementById("scroll-cards").childNodes.length <= 1) {
        document.getElementById("message-from").innerHTML = "Feel free to send an email or do anything else.";
        document.getElementById("message-title").innerHTML = 'Welcome to 101Mailz!';
        document.getElementById("message-date").innerHTML = '';
        document.getElementById("message-mail").innerHTML = '';
        document.getElementById("reply-button").style.display = "none";
        document.getElementById("forward-button").style.display = "none";
        $("#reply-mail-form").css("display", "none");
      } else {
        document.getElementById("reply-button").style.display = "block";
        document.getElementById("forward-button").style.display = "block";
      }
    }

    $(document).ready(function() {
      
        for (let i = 0; i < sendMailz.length; i++) {
          let emailSender = sendMailz[i].ontvanger;
          let emailSubject = sendMailz[i].onderwerp;
          let emailTimeSend = new Date(sendMailz[i].tijd);
          let emailID = sendMailz[i].IDmail;
          let minutes = ""

          if (emailTimeSend.getUTCMinutes() < 10) {
            minutes = ('0' + emailTimeSend.getUTCMinutes())
          } else {
            minutes = (emailTimeSend.getUTCMinutes() + '')
          }

          $('#scroll-cards-send').prepend('<div onclick="showContentOfSendItem(' + i + ')" class="card" id="card"><div class="mails"> <img src="https://randomuser.me/api/portraits/men/20.jpg" /><div class="mail-names" id="mail-names">' + emailSender + '</div></div><div class="mail-info">' + emailSubject + '</div> <div></div><div class="bottom-info"><div class="date">' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes) +'</div></div><div></div></div>');
        }

      function updateMails() {
        mailz = document.getElementById("mailz").innerHTML;
        mailz = JSON.parse(mailz);
        let inboxCounter = 0;
        document.getElementById("scroll-cards").innerHTML = "";
        document.getElementById("scroll-cards-deleted").innerHTML = "";
          for(let i = 0; i < mailz.length; i++) {

          let isEmailDeleted = mailz[i].verwijderd;
          let emailSender = mailz[i].afzender;
          let emailSubject = mailz[i].onderwerp;
          let emailTimeSend = new Date(mailz[i].tijd);
          let emailID = mailz[i].IDmail;
          let minutes = ""

          let blockedEmails = document.getElementById("blockedEmails").innerHTML;

          if (emailTimeSend.getUTCMinutes() < 10) {
            minutes = ('0' + emailTimeSend.getUTCMinutes())
          } else {
            minutes = (emailTimeSend.getUTCMinutes() + '')
          }
          if (blockedEmails.includes((emailSender) + ',')) {
          } else {
            if (isEmailDeleted == 0) {
              $('#scroll-cards').prepend('<div onclick="showContentOfItem(' + i + ')" class="card" id="card"><div class="mails"> <img src="https://randomuser.me/api/portraits/men/20.jpg" /><div class="mail-names" id="mail-names">' + emailSender + '</div></div><div class="mail-info">' + emailSubject + '</div> <div></div><div class="bottom-info"> <div class="check1"><div class="star" onclick="deleteMail(' + emailID + ')"><img src="https://i.ibb.co/Lv6TqBG/waste-bin.png"/></div><div class="star" onClick="reportSpam(\'' + emailSender + '\')"><img src="https://cdn-icons-png.flaticon.com/512/1209/1209935.png" style="width: 16px; filter: invert(0.5)"/></div><label class="checkbox" style="opacity: 0;"><input type="checkbox"/></label></div><div class="date">' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes) +'</div></div><div></div></div>');
              inboxCounter++;
              } else {
                $('#scroll-cards-deleted').prepend('<div onclick="showContentOfItem(' + i + ')" class="card" id="card"><div class="mails"> <img src="https://randomuser.me/api/portraits/men/20.jpg" /><div class="mail-names" id="mail-names">' + emailSender + '</div></div><div class="mail-info">' + emailSubject + '</div> <div></div><div class="bottom-info"> <div class="check1"><div class="star" onclick="unDeleteMail(' + emailID + ')"><img src="/images/unwaste-bin.png"/></div></div><div class="date">' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes) +'</div></div><div></div></div>');
              }
          }
          }  
        if (document.getElementById("scroll-cards").childNodes.length <= 1 && inboxCounter == 0) {
        document.getElementById("amount-in-inbox").style.opacity = "0";
      } else {
        document.getElementById("amount-in-inbox").style.opacity = "1";
      }
      document.getElementById("amount-in-inbox").innerHTML = inboxCounter;
      }
      updateMails();
  
    window.updateMails = updateMails;
    window.deleteMail = deleteMail;

    });    

    var mouseStartedMoving = false;
    var mouseMoved = false;
    var countertje = 0;

    setInterval(() => { 
      if(!mouseMoved && mouseStartedMoving) {
          countertje++;
      }
      else {
        countertje = 0;
      }

      if (countertje == 300) {
        window.location.href = './logout';
      }
      mouseMoved = false;
    }, 1000);

    onmousemove = function(ev){
    mouseStartedMoving = true;
    mouseMoved = true;
}

function toggleTheme() {
            var theme = document.getElementsByTagName('link')[1];
            if (theme.disabled == false) {
                theme.disabled = true;
                sessionStorage.removeItem("theme");
                $(".tab").css("border", "#fff solid 3px")
                $(".tabcontent").css("border", "#fff solid 3px")
                $(".tabcontent").css("border-top", "none")
            } else {
                theme.disabled = false;
                sessionStorage.setItem("theme", "enabled");
                $(".tab").css("border", "#000 solid 3px")
                $(".tabcontent").css("border", "#000 solid 3px")
                $(".tabcontent").css("border-top", "none")

            }
 }

function disableBackground() {
  if (sessionStorage.getItem("vanta") == "enabled") {
    sessionStorage.removeItem("vanta");
    $('#checkbox2').prop('checked', true);
    reloadPage();
  } else {
    sessionStorage.setItem("vanta", "enabled");
    $('#checkbox2').prop('checked', false);
    reloadPage();
  }
}
 function updateMails() {
        mailz = document.getElementById("mailz").innerHTML;
        mailz = JSON.parse(mailz);
        let inboxCounter = 0;
        document.getElementById("scroll-cards").innerHTML = "";
        document.getElementById("scroll-cards-deleted").innerHTML = "";
          for(let i = 0; i < mailz.length; i++) {

          let isEmailDeleted = mailz[i].verwijderd;
          let emailSender = mailz[i].afzender;
          let emailSubject = mailz[i].onderwerp;
          let emailTimeSend = new Date(mailz[i].tijd);
          let emailID = mailz[i].IDmail;
          let minutes = ""

          if (emailTimeSend.getUTCMinutes() < 10) {
            minutes = ('0' + emailTimeSend.getUTCMinutes())
          } else {
            minutes = (emailTimeSend.getUTCMinutes() + '')
          }

          if (isEmailDeleted == 0) {
            $('#scroll-cards').prepend('<div onclick="showContentOfItem(' + i + ')" class="card" id="card"><div class="mails"> <img src="https://randomuser.me/api/portraits/men/20.jpg" /><div class="mail-names" id="mail-names">' + emailSender + '</div></div><div class="mail-info">' + emailSubject + '</div> <div></div><div class="bottom-info"> <div class="check1"><div class="star" onclick="deleteMail(' + emailID + ')"><img src="https://i.ibb.co/Lv6TqBG/waste-bin.png"/></div><div class="star" onClick="reportSpam(\'' + emailSender + '\')"><img src="https://cdn-icons-png.flaticon.com/512/1209/1209935.png" style="width: 16px; filter: invert(0.5)"/></div><label class="checkbox" style="opacity: 0;"><input type="checkbox"/></label></div><div class="date">' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes) +'</div></div><div></div></div>');
            inboxCounter++;
            } else {
              $('#scroll-cards-deleted').prepend('<div onclick="showContentOfItem(' + i + ')" class="card" id="card"><div class="mails"> <img src="https://randomuser.me/api/portraits/men/20.jpg" /><div class="mail-names" id="mail-names">' + emailSender + '</div></div><div class="mail-info">' + emailSubject + '</div> <div></div><div class="bottom-info"> <div class="check1"><div class="star" onclick="unDeleteMail(' + emailID + ')"><img src="/images/unwaste-bin.png"/></div></div><div class="date">' + (emailTimeSend.getUTCHours() + 4) + ':' + (minutes) +'</div></div><div></div></div>');
            }
          
        }  
        if (document.getElementById("scroll-cards").childNodes.length <= 1 && inboxCounter == 0) {
        document.getElementById("amount-in-inbox").style.opacity = "0";
      } else {
        document.getElementById("amount-in-inbox").style.opacity = "1";
      }
      document.getElementById("amount-in-inbox").innerHTML = inboxCounter;
      }

      function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

  

checkIfInboxIsEmpty();
  </script>
</body>