<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>101Mailz</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"         rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <script src="./jQuery.js"></script>

</head>
<body>
  <script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.16,|colorStart|:[234,226,183,1],|colorEnd|:[234,226,183,1]},|particle|:{|life|:5,|power|:0.02,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/twirl_03.png|,|number|:831,|colorStart|:[116,129,92,0.13],|colorEnd|:[107,131,198,0.52],|sizeStart|:0.41,|sizeEnd|:0.82,|direction1|:{|x|:0,|y|:100,|z|:100},|direction2|:{|x|:0,|y|:0,|z|:0}},|waterMark|:false}" ></script>
  <div id="container">
    <div id="burger-menu">
      <span></span>
    </div>
    <div class="navbar">
      <a class="navbar" id="brandName" onclick="window.location.reload();">101<br><span>MAILZ</span></a>
      <div id="menu"> 
        <div id="close-icon">
          <%- include ("./images/close-icon.svg") %>
        </div>
        <ul>
          <li>
            <p>TERMS OF SERVICE</p>
          <li>
           <p class="message" style="max-width: 400px; font-size: 20px; position: absolute; left: 40.5vw;">By signing up for and/or otherwise accessing any of the services or products offered by 101Mailz you agree to be bound by the terms and conditions of this Agreement. Please carefully read these terms and conditions as they describe your legal rights and obligations.<br> 1. All your data will be sold at all times. <br> 2. We read every email you receive. <br> 3. No porn <br> 4. Be nice</p>
          </li>
        </ul>
      </div>
    </div>
    <div id="backgroundImage">
      <%- include ("./images/loginBG.svg") %>
   </div>
   <div id="heroTextBrand">
    <h1>
      101MAILZ
    </h1>
   </div>
   <div id="heroTextSlogan">
    <h1>
      Your new, <br>
      simpler mail.
    </h1>
   </div>
   <div id="heroTextDescription">
      <p>
        No more cluttered inbox, just lean design. <br>
        We offer email and email only platform. Enjoy  the simplest mail service available online! 
      </p>
   </div>
   <div id="ellipse">
    <%- include ("./images/ellipse.svg") %>
 </div>
</div>
  <div class="form">
    <div id="heroTextEllipse">
      <h1>LOGIN OR REGISTER HERE</h1>
    </div>
    <form class="register-form" action="registerForm" method="post">
      <input type="text" name="username" placeholder="Enter new username" required> 
      <input type="password" name="password" title="Password must be 6 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" placeholder="Enter new password" required>
      <input type="text" name="email" placeholder="Enter new email address"/>
      <div>
        <p class="message" id="termsOfServiceText" style="text-decoration: underline">Terms Of Service</p>
        <input type="checkbox" id="termsofservice" name="termsofservice" style="justify-content: center; position: relative; left: 0%"required>
      </div>
    
      <button id="registerButton">register</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" id="login-form" action="auth" method="post">
      <input type="text" name="username" placeholder="username" required id="login-form-username"> 
      <input type="password" name="password" placeholder="password" required id="login-form-password">
      <button id="loginButton" onclick="checkRemember()">login</button>
      <p class="fieldset">
        <input type="checkbox" id="remember-me" checked style="float:left; display:inline; width:5%; margin: 0; position: relative; left: 5px;" onclick="rememberMe()">
        <label for="remember-me" class="message" style="float:left; display:inline; width: 23%; position: relative; bottom: 16px;">Remember me</label>
      </p>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
    <p class="message">
      <%= locals.error %>
    </p>
    <div id="countdownContainer">
      <p class="message"id="countDown"><%= locals.countDown %></p>
  </div>
  <button id="disableForms" style="display: none" <%= locals.disabledValue %>>empty
  </button>
  <p id="amountOfTimesDisabled" style="opacity: 0;" >
    <%= locals.amountOfTimesDisabled %>
  </p>
</div>
<script>
  $('.message a').click(function(){
  $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
$("#remember-me").prop("checked", false);

var burgerMenu = document.getElementById('close-icon');
  var overlay = document.getElementById('menu');
  burgerMenu.addEventListener('click',function(){
    this.classList.toggle("close");
    overlay.classList.toggle("overlay");
  });

  var termsOfServiceText = document.getElementById('termsOfServiceText');
  var overlay = document.getElementById('menu');
  termsOfServiceText.addEventListener('click',function(){
    this.classList.toggle("close");
    overlay.classList.toggle("overlay");
  });

  if (document.getElementById("disableForms").disabled) {
    console.log('appelsausjhes');


       document.querySelector("#loginButton").disabled = true;
       document.querySelector("#registerButton").disabled = true;
  

          let amountOfTimesDisabled = document.getElementById('amountOfTimesDisabled').innerHTML;
          let timeOut = amountOfTimesDisabled * 5; 

          var counter = setInterval(function(){
          document.getElementById("countDown").innerHTML = 'Wrong username or password, please wait ' + timeOut + ' seconds.';
          timeOut--;
          console.log(timeOut);
            if (timeOut == -1) {
              clearInterval(counter);
              document.querySelector("#loginButton").disabled = false;
              document.querySelector("#registerButton").disabled = false;
              document.getElementById("countDown").innerHTML = '';
  
  }
      }, 1000);      

 }

  function rememberMe() {
    if (sessionStorage.getItem("rememberMe")) {
      sessionStorage.removeItem("rememberMe")
    } else {
      sessionStorage.setItem("rememberMe", "enabled")
    }
  }

function checkRemember() {
  if (sessionStorage.getItem("rememberMe")) {
    sessionStorage.setItem("username", document.getElementById("login-form-username").value)
    sessionStorage.setItem("password", document.getElementById("login-form-password").value)
  } else {
    sessionStorage.removeItem("username")
    sessionStorage.removeItem("password")
  }
}

  $(document).ready( function() {
    if (sessionStorage.getItem("rememberMe")) {
    document.getElementById("login-form-username").value = sessionStorage.getItem("username")
    document.getElementById("login-form-password").value = sessionStorage.getItem("password")
    $("#remember-me").prop("checked", true);
    }
  })

  </script>

</body>